.about-us {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 90px 0;
    background: #fff;
}

.pic {
    height: auto;
    width: 100%;
    border-radius: 12px;
}

.about {
    width: 1130px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text {
    width: 540px;
}

.text h2 {
    color: #333;
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 10px;
}

.text h5 {
    color: #333;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.text p {
    color: #333;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
}

.data {
    margin-top: 30px;
}

.hire {
    font-size: 18px;
    background: #4070f4;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    transition: 0.5s;
}

.hire:hover {
    background: #000;
}

.company-block h3 {
    margin-top: 0 !important;
}
.company-block .row {
    display: flex;
    padding: 15px 0;
}

.leadership-block .row {
    padding: 15px 0;
}

.company-block .order-2,
.leadership-block .order-2 {
    order: 2;
}

.align-items-center {
    align-items: center;
}

/* .leadership-list .row:nth-child(2) .col-md-4,
.leadership-list .row:nth-child(4) .col-md-4 {
    order: 2;
    text-align: right;
}

.leadership-list .row:nth-child(2) .col-md-8,
.leadership-list .row:nth-child(4) .col-md-8 {
    text-align: right;
} */

.leadership-block {
    margin-top: 15px !important;
}

.pt-4 {
    padding-top: 1.5rem !important;
}

.company h2 {
    font-weight: 600;
}

.mxh-auto {
    max-height: 250px;
    overflow-y: auto;
    padding-right: 10px;
}

.mxw-150 {
    max-height: 120px;
    padding-right: 10px;
}

.mxh-auto::-webkit-scrollbar {
    width: 6px;
    border-radius: 6px;
}

.mxh-auto::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 6px;
}

.mxh-auto::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 6px;
}

.ol-box .br-inner {
    padding: 20px;
    min-height: 194px;
}

.ol-box+.ol-box {
    margin-top: 10px;
}

.otherproduct-links {
    margin-top: 0;
}

.otherproduct-links .ol-box li a {
    color: #fff;
    text-decoration: none;
    font-size: 11px;
    padding: 3px 0;
    display: block;
    position: relative;
}

.otherproduct-links .ol-box.text-white li a {
    color: #fff;
}

.otherproduct-links .ol-box li a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 53%;
    background: url(../images/white-angle-double-right.png) no-repeat center center;
    background-size: 100%;
    width: 11px;
    height: 11px;
    transform: translate(0, -50%);
}

.ol-box ol {
    padding-top: 8px;
    padding-left: 0;
    margin-bottom: 0;
}

.ol-box ol li {
    list-style: none;
    font-weight: 600;
}

.ol-box ol li a {
    padding-left: 20px !important;
}

article .row h2 {
    margin: 20px 0 10px 0;
    line-height: 28px;
}

.small-panel span {
    background-color: #0021A5;
    color: #fff !important;
    padding-top: 12px;
}

.solution-details {
    padding-top: 30px;
}

.solution-details .small-panel span {
    float: none;
    top: 1px !important;
}

.solution-details .small-panel {
    margin-bottom: 20px;
}

.solution-details .small-panel .panel-point {
    float: none !important;
    margin-left: 0 !important;
    width: 100% !important;
}

.solution-details .slsmall-point {
    display: none !important;
}

.ol-box h4 {
    font-size: 16px;
    line-height: 25px;
    color: #fff;
}

.ol-box h4 a {
    text-decoration: none;
    color: #fff;
}
.ol-box h4 a:hover {
    color: #fff;
}

.ol-box.text-white h4 a {
    color: #fff;
}

.w-100 {
    width: 100% !important;
}

.story-block .row {
    margin-left: -8px;
    margin-right: -8px;
}
.story-block .row .col-md-6 {
    padding-left: 8px;
    padding-right: 8px;
}

.story-block .features__item {
    margin-bottom: 16px !important;
}

.story-block .features__item h2 {
    margin-top: 0px;
    text-align: left;
    color: #fff;
}

.story-block .features__content p {
    text-align: left;
    color: #fff;
}

.story-block .features__footer {
    text-align: left;
    padding: 0 20px 15px;
    background: transparent;
}

.story-block {
    padding-top: 30px;
}

.features__item__link a {
    color: #fff;
}

.otherproduct-links .row {
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 16px;
}

.otherproduct-links .col-md-6 {
    margin-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
}

.otherproduct-links .ol-box .br-inner {
    min-height: inherit;
}
.otherproduct-links .ol-box.ol-box-oneline .br-inner {
    padding: 10px;
}
.ol-box.ol-box-oneline h4 {
    font-size: 14px;
}
.mb-20 {
    margin-bottom: 20px !important;
}

.story-block .features__content {
    margin-bottom: 10px;
    max-height: 70px;
    overflow: hidden;
}

.mt-0 {
    margin-top: 0 !important;
}

.dtl-content .content p {
    font-size: 16px;
}

.content>ul,
.content>ol {
    padding: 0;
}

.content>ul>li,
.content>ol>li {
    font-weight: 300;
    line-height: 24px;
    font-size: 16px;
    list-style-type: none;
    font-family: 'GothamRnd-Light', Arial, Tahoma, Verdana;
    padding-bottom: 10px;
    position: relative;
    padding-left: 28px;
}

.content>ul>li:before,
.content>ol>li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    background: url(../images/angle-double-right.png) no-repeat center center;
    background-size: 100%;
    width: 17px;
    height: 17px;
    transform: inherit;
}

.content ul ul {
    padding-top: 15px;
}

/*.content ul ul li {
    list-style-type: disc;
    padding-left: 0;
} */
.pt-30 {
    padding-top: 30px !important;
}

.gradient-banner {
    background: rgb(212, 20, 90);
    background: linear-gradient(52deg, rgba(212, 20, 90, 1) 0%, rgba(251, 176, 59, 1) 100%);
    padding: 15px;
    width: 100%;
    margin-top: 68px;
    border-radius: 20px;
    position: relative;
}

.gradient-banner h2 {
    color: #fff;
    margin-top: 0;
    line-height: normal;
}

.gradient-banner .content {
    margin-top: 12px;
}

.gradient-banner .content p {
    color: #fff;
    font-size: 16px;
}

.video-block {
    width: 100%;
    background: #333;
    padding: 15px 15px;
    border-radius: 15px;
    overflow: hidden;
}

.video-block iframe {
    border-radius: 10px;
    display: block;
}

.gh-box {
    display: flex;
    height: 480px;
}

.gradient-bg {
    border-radius: 12px;
    background: #5f5fc4 !important;
    box-shadow: 0 0 15px rgb(0 0 0 / 15%);
}
.gradient-bg1 {
    background: linear-gradient(-135deg,#eb1864 0,#37437d 100%);

}

.gradient-bg2 {
    background: linear-gradient(-135deg,#fe5445 0,#f96b55 25%,#eb1864 50%,#37437d 100%);


}

.gradient-bg3 {
    background: linear-gradient(-135deg,#eb1864 0,#37437d 100%);

}

.gradient-bg4 {
    background: #ad5389;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.gradient-bg5 {
    background: #a8c0ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f2b96, #a8c0ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.gradient-bg6 {
    background: #355C7D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.gradient-bg7 {
    background: #bc4e9c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f80759, #bc4e9c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.gradient-bg8 {
    background: #11998e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.gradient-bg9 {
    background: #108dc7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ef8e38, #108dc7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ef8e38, #108dc7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.text-white {
    color: #fff !important;
}

.zoom {
    transform: scale(1);
    transition: all 0.5s ease-in-out 0s;
}

.zoom:hover {
    transform: scale(1.05);
}
.features__item__link {
    background: transparent;
}
.br-inner {
    border: solid 3px rgb(255 255 255 /40%);
    border-radius: 12px;
}
.common-title {
    text-transform: uppercase;
    font-size: 30px;
    padding-bottom: 20px;
    color: #5bc0de;
    font-weight: 600;
}

.divClass {
    background: #fff !important;
    height: 100%;
    box-shadow: 0 0 15px rgb(0 0 0 / 10%);
    margin: 0;
    border-radius: 12px;
}
.divClass h3 {
    margin-top: 0 !important;
}
.divClass p br {
    display: none;
}
.divClass ul br {
    display: none;
}
.divClass p {
    margin-bottom: 20px;
}
.divClass ul li {
    margin-bottom: 13px;
}
.divClass ul {
    margin-bottom: 25px !important;
}
.theme-blue {
    background: blue !important;
    box-shadow: 0 0 15px rgb(0 0 0 / 15%);
    border-radius: 12px;
}
.ol-box-oneline {
    border-radius: 12px;
}
.gradient-bg-red {
    background: rgb(212, 20, 90);
    background: linear-gradient(52deg, rgba(212, 20, 90, 1) 0%, rgba(251, 176, 59, 1) 100%);
}
.gradient-bg-purple {
    background: linear-gradient(-135deg,#9d3be0 0,#1867b9 100%) !important;
}
.divClass h3 {
    font-weight: 600 !important;
}
.otherproduct-links {
    float: right;
}